:root {
    --primary-color: #FFF;
}

.header {
    min-height: 100vh;
    background-size: cover;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.header__main {
    padding: 40px 120px 0 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Roboto, sans-serif;
}

.header__items {
    display: flex;
    gap: 80px;
    font-weight: 400;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.header__header {
    color: var(--primary-color);
    font-size: 70px;
    font-family: Helvetica Neue LT Std, sans-serif;
}

.collection {
    margin: 1010px 0 0 300px;
}

.collection__header {
    margin-bottom: 60px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-size: 76px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;;
}

p {
    margin-bottom: 40px;
    color: var(--primary-color);
    max-width: 1108px;
    width: 100%;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 1.28px;
}

.shop {
    width: 480px;
    height: 100px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: none;
    font-size: 32px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
}